<td><%= link_to freind.first_name + ' ' + freind.last_name, freind, class:"btn btn-info"%></td>
<td> <%= freind.email %></td>
<td> <%= freind.phone %></td>
<td> <%= freind.twitter %></td>
<td> <%= freind.user_id %></td>

